body{
    background-color: #232323;
}
h1{
    color: red;

}
#stripe{
    background-color: aliceblue;
    height: 35px;
    text-align: center;
    color: black;
}
/* #message{
    color: white;
} */
#container{
    max-width: 600px;
    margin: auto;
}

.square{
    width: 30%;
    background: white;
    padding-bottom: 30%;
    float: left;
    margin: 1.16%;
}

.selected{
    background-color: rgb(30, 140, 177);
}