body{
    background-color: rgb(26, 25, 25);
}
h1{
    color: red;

}
#message{
    color: white;
}
#container{
    max-width: 600px;
    margin: auto;
}

.square{
    width: 30%;
    background: white;
    padding-bottom: 30%;
    float: left;
    margin: 1.16%;
}